.TableRow {
  position: relative;
}

.TableCell:first-child {
  position: sticky;
  left: 0;
  background: white;
}

.TableCell {
  border-inline-end: 0.5px solid var(--primary-color);
}

.TableRow .TableCell:last-child {
  border-inline-end: none;
}

.TableHead .TableRow .TableCell {
  background: var(--background-color);
  border-block-end: 0.5px solid var(--primary-color);
  font-size: 1.4rem;
  font-family: var(--font-family);
  font-weight: 300;
}

.TableRow .TableCell {
  color: var(--heading-and-text-color);
  font-size: 1.2rem;
  font-family: var(--font-family);
  font-weight: 200;
}

.TableRow:nth-child(odd) {
  background-color: #f7f7f7;
}

.TableRow:nth-child(even) {
  background-color: #ffffff;
}

.TableRow:hover {
  background-color: rgb(255, 252, 226) !important;
}

.TableHead .TableRow .TableCell:first-child {
  z-index: 30;
}

.CheckboxContainer {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 200;
  margin-block-end: 1rem;
}

.CheckboxContainer {
   // any possible CheckboxContainer CSS...
   input[type="checkbox"] {
      // inner tags (classnames) CSS
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--heading-and-text-color);
  border-radius: 1px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.CheckboxContainer input[type="checkbox"]:checked::before {
  content: "✔";
  color: var(--heading-and-text-color);
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 2px;
}

.CheckboxContainer input[type="checkbox"]:hover {
  background-color: var(--background-color);
}
