:root {
  --primary-color: #ed692f;
  --background-color: #ffff;
  --body-background-color: #fafafa;
  --heading-and-text-color: #454545;
  --link-text-color: #454545;
  --link-text-color-hover: #ed692f;
  --border-color: #323232;
  --hover-color: #4a4a4a;
  --background-color-hover: #3f2611b5;
  --font-family: "Montserrat", sans-serif;
  --navbar-height: 9rem;
  --padding-small: 0.5rem;
  --padding-medium: 0.75rem;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  padding: var(--navbar-height) 1.6rem 2rem 1.6rem;
  font-family: var(--font-family);
  font-size: 1.6rem;
  background-color: var(--body-background-color);
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 2rem 0;
  color: var(--heading-and-text-color);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  color: var(--heading-and-text-color);
}

p,
a {
  font-size: 1.6rem;
  font-weight: 200;
  text-decoration: none;
}

a:hover {
  color: var(--link-text-color-hover);
}

@media screen and (min-width: 1024px) {
  body {
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
  }
}
